body {
    background-color:rgb(243, 244, 246);
    font-family: "Harmonia Sans Pro";
}

.header, .calc, .footer {
    display: flex;
    justify-content: center;
}


.roomba-party, .calc {
    color: #64a70b;
}

.submit {
    background-color: #64a70b;
}

.specifications {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);     
}

.image {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
